.age-section{
    box-sizing: "inherit";
    background-color:white;
    box-shadow: "inherit";
    width: 80%;
    border-radius: 20px; 
    transition: "ease-in-out"; 
    box-shadow: 0px 10px 12px rgba(0,0,0,0.1);
    overflow: "hidden"; 
    margin: 20; 
    position: "relative"; 
    display: "flex"; 
    
}

.age-box{
    background-color: whitesmoke;
    margin: 20px;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
}


