*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header_bg{
    background-color:white;
  }

  .logo{
    height: 50px;
    width: 120px;
    display: flex;
    padding-left: 50px;
  }
  
  .search{
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 1000px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    width: 70px;
    height: 50px;
  }
  
  div #myInput{
    background-image: url('../images/search.png'); 
    background-size: 20px;
    background-position: 10px 16px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd;
    margin-bottom: 12px; 
    margin-right: 20px;
    background-color: #f6f6f4;
    border-radius: 5px;
  }
.sell-laptop{
   background-color:"white";
     margin: 10;
     padding-top:10;

                border-radius: 10;
                 transition: "ease-in-out";
                 box-shadow: "10px 10px 12px rgba(0,0,0,0.1)";
                overflow: "hidden";
                position: "relative"; display: "flex"; flex-direction: "column";
}

  