/* style={{
                            boxSizing: "inherit", boxShadow: "inherit", height: 600, width: 1100,
                            borderRadius: 20, transition: "ease-in-out", boxShadow: "0px 10px 12px rgba(0,0,0,0.1)",
                            overflow: "hidden", margin: 20, position: "relative", display: "flex", flexDirection: "column"
                        }} */
.configuration-section{
    background-color: white;
    width: 100%;
    box-shadow: inherit;
    border-radius: 20px;
    transition: ease-in-out;
    box-shadow:0px 10px 12px rgba(0,0,0,0.1) ;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

}